.cardsContainer {
  display: inline-flexbox
}

.carMiniDescription {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 20px 20px;

}

.carPhoto {
  max-width: 100%;
  height: auto;
}
